<h1><%= @location.country %></h1>
<strong><%= @location.city %></strong>

<h2>All Padders With Rooms Available in <%=@location.country  %></h2>
<ul>
<% Location.all.each do |location| %>
<% location.padders.each do |padder| %>

        <% if padder.room_available != false && padder.id != @current_padder.id && padder.location_id == @location.id%>
       <%=link_to padder.username, padder%>
        <% end %>
    <% end %>
<% end %>
</ul>

